.main {
    display: flex;
    flex-direction: row;
    height: 600px;
    
}

.block1 {
    flex:2;

}

.block2 {
    flex:9;
  
} 

.d11 {
    flex-direction: row;
    display: flex;
    flex: 3;
    height: 50%;
}

.d14 {
    flex-direction: row;
    display: flex;
    flex: 3;
    height: 35%;
}

.d15 {
    flex-direction: row;
    display: flex;
    flex: 3;
    height: 15%;
}

.f11 {
    flex:1;
}

.z11 {
    flex-direction: column;
    display: flex;
    flex:1;
}

.d12 {
    flex:1;
}

.container-items{
    text-align: center;   
    justify-content: center;
    border: 2px solid black;
    
}

.background {
    justify-content: center;
    height: 32%;
}

.block-1{
    height: 50%;
}

.block-2{
    height: 50%;
}
